
.form {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-inline: 16.75px;
  }
  
  #inputs {
    
    width: 100% !important;
    height: 76px !important;
    font-size: 12pt;
    border: none;
    resize: none;
    padding: 8px !important;

  }
  .inputDiv{
    /* padding: 2px; */
    background: #FBFBFB 0% 0% no-repeat padding-box;
    
    opacity: 1;
    border: 2px solid #07040413;
    resize: none;
  }
  
  .chatButton{
  background-color: #C10E21;
  font-size: 16px;
  color: white;
  /* width: 81px; */
  height: 41px;
  border-radius: 8px;
  font: normal normal bold 16px Montserrat;
  padding-inline: 20px;
 
  margin-top: 10px;
  float: right;
  opacity: 1;
  border:none;
}
.chatButton:hover{
  background-color: #9D0B1B;
    color: white;
}
  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
  }
  
  .sendButton {
    color: rgb(0, 0, 0) !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #2ce25a;
    padding: 5px;
    display: inline-block;
    border: none;
    font-size: 14px;
  
  }
  .sendButton:hover{
    background-color: #9D0B1B;
    color: white;
  }
  
  @media (min-width: 590px) and (max-width: 818px) {
    .sendButton {
      width: 20%;
  
      padding: 1px;
    }
    .input {
      width: 80%;
      font-size: 16px;
    }
  }
  
  @media (min-width: 400px) and (max-width: 589px) {
    .sendButton {
      width: 20%;
  
      padding: 1px;
    }
    .input {
      width: 80%;
      font-size: 14px;
    }
  }
  @media (min-width: 360px) and (max-width: 399px) {
    .sendButton {
      width: 20%;
      font-size: 10px;
      padding: 1px;
    }
    .input {
      width: 80%;
      font-size: 12px;
    }
  }
  