/* .heightd{
  
  margin-top: 30px;
}
.items{
display: flex;
  flex: auto;
  overflow: auto;
}
.namesx{
  display: flex;
  font-size: 15px;
}
.show{
  height:50px
}
.dropdown-item{
  height:50px
}
.HeightD{
  height: 50px;
}
.NavBar .Title{
  height:230px
} */
.userbutton{
  background-color: white;
  color: #c10e21;
  
  display: block;
  padding: 5px;
  border: 1px solid #c10e21;
  border-radius: 8px;
  opacity: 1;
  font-weight: bold ;
  font-size: 16px;
  padding-inline: 20px;
  
}
.userbutton:hover{
  color: #c10e21;
}
div.namesx{
  color: #c10e21;
  background:transparent;
  display: block ;
  border: white;
  font-weight: bold;
  font-size: 14px;
  padding:8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-inline: 20px;
}
.dropdown-item{
  border: 0.5px solid #c10e21;
  border-radius: 5px;
}
.namesx:hover{
  text-decoration: none;

}
.show{
  padding:0;
  
  
}
.dropdown-menu{
  background-color: rgba(255, 255, 255, 0.767);
  max-height: 200px;
  overflow: auto;
  max-width: 200px;
}