.popc {
  display: flex;
  flex-direction: row;   
}
.pop {
  display: flex;
  resize: none;
  margin-right: 10px;
  border-color: grey;
  border-radius: 4px;
  font-size: 1.5rem;
  width: 15rem;
  color: black;
  height: auto;
}
.pop:focus{
  outline: none !important;
  box-shadow: none !important;
}

.invitebutton {
  background-color: white;
  color: #c10e21;
  
  display: block;
  padding: 5px;
  border: 1px solid #c10e21;
  border-radius: 8px;
  opacity: 1;
  font-size: 16px;
  padding-left: 33px;
  padding-right: 33px;
  font-weight: bold ;
}

.copyText {
  margin-top: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
}


[role=tooltip].popup-content {
  display: block;
    box-shadow: 3px 3px 3px rgb(0 0 0 / 90%);
    border-radius: 5px;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-left: -50px;
    height: max-content;
    width: fit-content;
    cursor:pointer;
    
}

#tag {
  font-size: 25px;
  margin-top: -5px;
}

.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 50%;
  padding: 5px;
}
